/* STYLE FOR LEFT MENU' */
#contact{
    width: 100%;
    height: 100%;
}
.name-user{
    position: absolute;
    float: left;
    padding-left: 30px;
}


/* Base structure header-nav-main for left menu */

#contact>header{
    height: 50px;
    width: 100%;
    background-color: #eaeaea;
    padding: 15px;

    /* ALIGNE ITEMS */
    /* Flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact>nav{
    height: 80px;
    width: 100%;
}

#contact>main{
    height: 470px;
    width: 100%;
}

/* NAV bar and users */

/* USER PROFILE IMG */
.userImg{
    width: 30px;
    height: 30px;
    border-radius: 900px;
    background-color: blueviolet;
}

/* INTERACTION */
.buttons{
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Notice and Find Users */
#notice{
    background-color: #8edafc;
    width: 100%;
    height: 60%;
}

/* Silence icon */
div > .fa-regular.fa-bell-slash{
        background-color: #ffffff;
        color: #8edafc;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;  
}

/* Notice span msg */
#notice span{
    text-decoration: underline;
    color: gray;
}

/* Notice float left */
#notice > div{
    display: flex;
}

/* Find settings */
#find{
    background-color: #eaeaea;
    padding: 5px;
}


#find > div{
    background-color: white;
    width: 20px;
    display: inline-block;
}

#find > input{
    width: 95%;
}




/* LISTA UTENTI SETTINGS */
#lista_utenti{
    list-style: none;
}

/* UTENTE */
.utente{
    height: 60px;
    width: 100%;
    background-color: aquamarine;
    border: 1px solid black;
    padding: 10px;

    /* Flex */
    display: flex;
    gap: 10px;
}

.utente_img{
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 1600px;
}