<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/styleUserLeft.css">
    <link rel="stylesheet" href="css/styleUserRight.css">

    <!-- Vue.js CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Font Awesom -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>

    <!-- Page container -->
    <div id="container">

        <!-- Program App -->
        <div id="app">

            <!-- Chat users -->
            <div id="left-menu">

                <!-- Nav User Id -->
                <div id="contact">

                    <!-- Account personale -->
                    <header>

                        <!-- Img utente -->
                        <div class="userImg"></div>
                        <div class="name-user">
                          Samuele
                        </div>

                        <!-- Icons -->
                        <div class="buttons">
                            <i class="fa-solid fa-circle-notch" style="color: #bebebe;"></i>
                            <i class="fa-solid fa-message" style="color: #bebebe;"></i>
                            <i class="fa-solid fa-ellipsis-vertical" style="color: #bebebe;"></i>
                        </div>
                    </header>   

                    <!-- Ricerca Utenti -->
                    <nav>
                        <!-- Blue flag notice -->
                        <div id="notice">

                            <!-- ICON -->
                            <div>
                                <!-- Bell Icons //// -->
                                <i class="fa-regular fa-bell-slash"></i>

                                <div class="span_float">
                                    <h4>Ricevi notifiche di nuovi messaggi</h4>
                                    <span>Attiva notifiche desktop</span>
                                </div>
                                    
                            </div>
                        </div>

                        <!-- Ricerca utenti -->
                        <div id="find">
                            <div><i class="fa-solid fa-magnifying-glass" style="color: #cedaed;"></i></div>
                            <input type="text" v-model="searchQuery" placeholder="Cerca contatti...">
                        </div>
                    </nav>

                    <!-- Contatti -->
                    <main>
                        <ul id="lista_utenti">
                            <li v-for="(contact, index) in filteredContacts" :key="index" class="utente">

                                <!-- IMMAGINE DELL UTENTE -->
                                <div class="utente_img"><img :src="contact.avatar" alt=""></div>

                                <!-- DESCRIZIONE INFO -->
                                <div>
                                    <h4>{{ contact.name }}</h4>
                                    <span>Ultimo messaggio inviato</span>
                                </div>
                            </li>
                        </ul>
                    </main>
                </div>
            </div>
            

            <!-- Message page -->
            <div id="right-menu">
                <div id="message-menu">

                    <!-- Barra di stato -->
                    <header>

                         <!-- Img utente -->
                         <div class="userImg"></div>
                         <div class="name-user">
                           Samuele
                           <div>Blablablas</div>
                         </div>
                         
                         <!-- Icons -->
                        <div class="buttons">
                            <i class="fa-solid fa-magnifying-glass" style="color: #bebebe;"></i>
                            <i class="fa-solid fa-paperclip" style="color: #bebebe;"></i>
                            <i class="fa-solid fa-ellipsis-vertical" style="color: #bebebe;"></i>
                        </div>
                    </header>

                    <!-- Menu di conversazione -->
                    <main>

                        <!-- Msg Ricevuti -->
                        <div class="text_left"></div>
                        <div class="text_left"></div>
                        <!-- Msg Inviati -->
                        <div class="text_right"></div>
                    </main>

                    <!-- Barra di messaggio -->
                    <div id="msg_bar">
                        
                        <!-- Emoji -->
                        <div><i class="fa-regular fa-face-smile" style="color: black;"></i></div>

                        <!-- Msg bar text -->
                        <div><input type="text"></div>

                        <!-- Send Msg -->
                        <div><i class="fa-regular fa-circle-play" style="color: #63E6BE;"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- My Script -->
    <script src="js/script.js"></script>
</body>
</html>